// Define variables for your color scheme

// Text
$text-dark: #545454;
$text-grey: #484848;
$text-light: #A6A6A8;


// For example:
$body-bg-grey: #FAFAFA;
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
